.navbar-custom {
    max-width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #222906;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.navbar-brand-custom {
    font-size: 3rem;
    margin-left: 3rem;
    margin-top: 3rem;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    white-space: nowrap;

}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-right: 3rem;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 2em;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.navbar-link:hover {
    font-size: 2.5em;
}

@media (max-width: 768px) {
    .navbar-custom {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .navbar-brand-custom {
        font-size: 2rem;
        align-items: center;
        margin-bottom: 2rem;
    }

    .navbar-links {
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .navbar-link {
        font-size: 1rem;
        padding: 0.5rem;
        text-align: center;
    }
}